<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <title>{{wp_title}}</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="/xmlrpc.php" />
    <!-- Le styles -->
    {{null|wp_head}}
    <link href='//fonts.googleapis.com/css?family=Duru+Sans' rel='stylesheet' type='text/css'>
    <link href="{{themeurl}}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{themeurl}}/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{themeurl}}/css/font-awesome-social.css" rel="stylesheet">
    <link href="{{themeurl}}/css/font-awesome-corp.css" rel="stylesheet">
    <link href="{{themeurl}}/css/font-awesome-ext.css" rel="stylesheet">
    <!--[if lt IE 8]>
      <link href="{{themeurl}}/css/font-awesome-ie7.min.css" rel="stylesheet">
      <link href="{{themeurl}}/css/font-awesome-more-ie7.min.css" rel="stylesheet">
    <![endif]-->
    <link href="{{themeurl}}/css/delirinotturni.css" rel="stylesheet">
    <link href="{{themeurl}}/css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="{{themeurl}}/js/html5shiv.js"></script>
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{themeurl}}/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{themeurl}}/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{themeurl}}/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{themeurl}}/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="{{themeurl}}/ico/favicon.png">
    <link rel="icon" href="{{themeurl}}/favicon.ico" />
  </head>
  <body {{body_classes|wp_body_class}}>
